div{
    width: 500px;
    height: 400px;
    background-color: yellow;
}
     
p{
    width: 70%;
    height: 50%;
    padding: 10px;
    background-color: violet;
}
     
.p_1{
    box-sizing: content-box;
}
     
.p_2{
    box-sizing: border-box;
}