.spot{
    width: 1200px;
    min-height: 1200px;
    background-color: aqua;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
}
.skate{
    width: 75px;
    height: 300px;
    border: 3px white solid;
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
}
.skate_1{
    flex-grow: 1;
}
.skate_2{
    /* margin-top: auto; */
    box-sizing: border-box;
    margin-left: auto;
}
.skate_3{
    align-self: flex-end;
    /* margin-bottom: auto; */
    margin-right: auto;
    width: 300px;
    height: 100px;
    flex-basis: 100%;
    flex-grow: 1;
}
.skate_4{
    margin-right: auto;
}
img{
    width: 45px;
}