div{
    width: 500px;
    height: 400px;
    background-color: yellow;
}
     
p{
    width: 70%;
    height: 50%;
    background-color: violet;
}
     
.p_1{
    min-width: 400px;
    min-height: 150px;
}
     
.p_2{
    max-width: 400px;
    max-height: 150px;
}