p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2em;
    width: 500px;
    padding: 1em;
    border: 1px black solid;
    font-size: 1.2em;
}
.p1{
    
}
.p2{
    font-style: italic;
}
.p3{
    font-variant: small-caps;
}