p{
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    width: 400px;
    padding: 15px;
    border: 1px black solid;
}
.p1{
    font-size: 1em;
}
.p2{
    font-size: 1.2em;
}
.p3{
    font-size: 1.4em;
}