.menu{
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    height: 90vh ;
    margin: 0 auto;

}
.menu_item{
    text-align: center;
    background-color: bisque;
    height: 100px;
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    order: -1;
}
img{
    width: 100px;
}