.room {
    display: flex;
    background-color: aqua;
    flex-direction: row-reverse;
    /*flex-direction: column*/;
    /*flex-direction: column-reverse*/;
    justify-content: center;
    border: 1px solid black;
}
  
.flex-item {
    flex: 1; 
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
    display: flex;
}
.room-2{
    /*flex-direction: row-reverse*/
    display: flex;
    justify-content: flex-start;
}
.room-1, .room-2{
    /*justify-content: flex-start*/
    display: flex;
    justify-content: flex-end;
}
.room-1{
    justify-content: flex-end;
    display: flex;
}

