body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.rug{
    display: border-box;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 150px;
    width: 150px;
    float: left;
}
.keks{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 250px;
    width: 250px;
}
.simeon{
    max-width: 10%;
    height: 10%;
    display: block;
    margin: 0 auto;
}